# ================================
# Smart Energy AI - Git Ignore
# ================================

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Raw and processed datasets
data/raw/*
data/processed/*

# Keep the folders in Git
!data/raw/.gitkeep
!data/processed/.gitkeep

# Trained models
models/*.pkl
models/*.joblib
models/*.h5
models/*.keras

# Environment variables / secrets
.env
.env.*

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
tempCodeRunnerFile.py

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/